<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Parcels</title>
</head>
<body>
  <h1>Parcels</h1>
  <p>See how much it costs to ship a package.</p>
  <a href="/packages">Enter package dimensions</a>
</body>
</html>